Diego Canon Borbon en Scotiabank piensa que podrías ser un(a) buen(a) candidato(a) para el puesto de Technical 
Associate y te ha referido. El anuncio del puesto está publicado en nuestro sitio web 
https://career17.sapsf.com/career?company=scotiabank&loginFlowRequired=true&rcm%5fsite%5flocale=es%5fES&career%5femail%5furl=true&jobReqId=222055&account=V4%2d0%2da1%2dGwdB9%5fST0k%5fXeKZ4aBqH%2dBVkTU2M4ZRydIcg41XvRat2hcxFGAk1076Mv5UCpCXd48zH19OznqSVDI3EQFXHn5sX54E%2dlDVRCDh9yOJO6AIwj5Zk1zIB6lNjKaXDBi5P3Q&verify=kK6wzwtgsYANI%2bicagqzfdQ%2bCFwMOlQe2wR%2b8lWD4Do%3d&login%5fns=pwd%5fset& y allí podrás consultar toda la información. 
